<div class="g1 pt-3">
    <div class="container">
        <div class="pt-5 position-relative">
            <div class="s3 filter"></div>
            <div class="ps-5 pb-5 sd position-absolute bottom-0 d-flex">
                <img src="/assets/img/s3.jpg" class="serv-img" width="600" alt="...">
                <div class="px-4 info">
                    <div class="display-3">
                        Fine Dining
                    </div>
                    <p>
                        Enhance your dining experience with the best food, best service, and perfect ambiance
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="g2">
    <div class="container">
        <div class="pt-5 position-relative">
            <div class="s2 filter"></div>
            <div class="ps-5 pb-5 sd position-absolute bottom-0 d-flex">
                <div class="px-4 info text-right">
                    <div class="display-3 placeholder-glow">
                        Rooftop Bar
                    </div>
                    <p>
                        Uniquely designed bar to have a beach experience while sitting on the rooftop and enjoying your drinks with the warmth of music filling in your ears
                    </p>
                </div>
                <img src="/assets/img/s2.jpg" class="serv-img" width="600" alt="...">
            </div>
        </div>
    </div>
</div>
<div class="g1 pb-5">
    <div class="container">
        <div class="pt-5 position-relative">
            <div class="s3 filter"></div>
            <div class="ps-5 pb-5 sd position-absolute bottom-0 d-flex">
                <img src="/assets/img/s3.jpg" class="serv-img" width="600" alt="...">
                <div class="px-4 info">
                    <div class="display-3 placeholder-glow">
                        Banquet Hall
                    </div>
                    <p>
                        We plan for you! Just that perfect experience is waiting for you with a spacious hall and exquisite food
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="g2">
    <div class="container">
        <div class="pt-5 position-relative">
            <div class="s2 filter"></div>
            <div class="ps-5 pb-5 sd position-absolute bottom-0 d-flex">
                <div class="px-4 info text-right">
                    <div class="display-3 placeholder-glow">
                        Catering Service
                    </div>
                    <p>
                        We cater to your needs! Book now for a smooth experience
                    </p>
                </div>
                <img src="/assets/img/s2.jpg" class="serv-img" width="600" alt="...">
            </div>
        </div>
    </div>
</div>
