<div class="g1 pt-3">
    <div class="container">
        <div class="pt-5 position-relative">
            <div class="s3 filter"></div>
            <div class="ps-5 pb-5 sd position-absolute bottom-0 d-flex">
                <img src="/assets/img/s3.jpg" class="serv-img" width="600" alt="...">
                <div class="px-4 info">
                    <div class="display-5 placeholder-glow">
                        Heading 1
                    </div>
                    <span class="placeholder col-7"></span><br>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-11"></span>
                    <span class="placeholder col-12"></span>
                    <span class="placeholder col-9"></span>
                    <span class="placeholder col-10"></span>
                    <span class="placeholder col-5"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="g2">
    <div class="container">
        <div class="pt-5 position-relative">
            <div class="s2 filter"></div>
            <div class="ps-5 pb-5 sd position-absolute bottom-0 d-flex">
                <div class="px-4 info text-right">
                    <div class="display-5 placeholder-glow">
                        Heading 2
                    </div>
                    <span class="placeholder col-7"></span><br>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-11"></span>
                    <span class="placeholder col-12"></span>
                    <span class="placeholder col-9"></span>
                    <span class="placeholder col-10"></span>
                    <span class="placeholder col-5"></span>
                </div>
                <img src="/assets/img/s2.jpg" class="serv-img" width="600" alt="...">
            </div>
        </div>
    </div>
</div>
<div class="g1 pb-5">
    <div class="container">
        <div class="pt-5 position-relative">
            <div class="s3 filter"></div>
            <div class="ps-5 pb-5 sd position-absolute bottom-0 d-flex">
                <img src="/assets/img/s3.jpg" class="serv-img" width="600" alt="...">
                <div class="px-4 info">
                    <div class="display-5 placeholder-glow">
                        Heading 3
                    </div>
                    <span class="placeholder col-7"></span><br>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-11"></span>
                    <span class="placeholder col-12"></span>
                    <span class="placeholder col-9"></span>
                    <span class="placeholder col-10"></span>
                    <span class="placeholder col-5"></span>
                </div>
            </div>
        </div>
    </div>
</div>
