*{
    color: #eee !important;
}
.g1 {
    background:  rgba(0, 150, 136, 1)
    
}
.g2 {
    background:  rgba(0, 150, 136, 1)
}

.filter{
    height: 70vh;
    filter: blur(2px);
    -webkit-filter: blur(75px);
    border-radius: 20px;
    
   
}

.sd{
    width: 100%;
}

.s1{
    background: url('/assets/img/s1.jpg') center bottom;
    background-size: contain;
}
.s2{
    background: url('/assets/img/s2.jpg') center bottom;
}
.s3{
    background: url('/assets/img/s3.jpg') center bottom;
}

.serv-img{
    border: 1px solid #eee;
}
.info{
    width: 100%;
}

.card-title{
    font-size: 2rem;
}

.display-3{
    /* font-family: 'Goldman', cursive; */
    font-family: 'Alegreya SC', serif;
}

.info p{
    font-family: monospace;
    font-size: 1.5rem;
    line-height: 1.2rem;
    font-weight: lighter;
    color: #aaa;
}