@font-face {
    font-family: Ceremonial-Instrument;
    src: url('/src/assets/fonts/CEREMONIALiNSTRUMENT.otf');
}

#section1 {
    padding-top: 50px;
    height: 605px;
    color: #fff;
    background: url("src/assets/img/homeBg1.jpg") bottom center;
    background-size: contain;
}

#section2 {
    padding-top: 50px;
    /*height: 50vh;
    color: #fff;
    background-color: #683ab7; */
}

#section3 {
    padding-top: 50px;
    height: 600px;
    color: #fff;
    background-color: #ff9800;
}

#about,#section42 p {
    margin: auto;
    width: 90%;
    font-size: 20px;
    font-weight: lighter;
    /* text-align: center;*/
    /* font-family: Ceremonial-Instrument, monospace; */
    font-family: monospace;
}

h1 {
    font-size: 2.5rem;
    /* font-family: 'Goldman', cursive; */
    font-family: 'Alegreya SC', serif;
}
h1.subtitle{
    font-size: 3rem;
    line-height: 2rem;
    font-family: 'My Soul', cursive;
}

.card {
    border-radius: 27px !important;
}

.card-img {
    border-radius: inherit;
    height: 350px;
}

#section41 {
    padding-bottom: 50px;
    padding-top: 50px;
    height: 100%;
    color: #fff;
}

.blue{
    background-color: #00bcd4;
}

#section42 {
    padding-top: 20px;
    padding-bottom: 50px;
    border-radius: 30px;
    height: 100%;
    color: #fff;
}

.green{
    background-color: #009688;
}

.d {
    height: 450px;
    width: 270px;
    border-radius: 25px;
    background: center;
    background-size: cover;
}

.container {
    height: 350px;
    width: 1200px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
}

.card {
    display: flex;
    height: 350px;
    width: 400px;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #999;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover~.card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.title {
    color: #000;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}

.title h3 {
    font-family: 'Lobster Two', cursive;
}

.bar {
    position: absolute;
    top: 50px;
    left: 20px;
    height: 5px;
    width: 80%;
}

.emptybar {
    background-color: #666;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0, 154, 217);
    background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgba(217, 147, 0, 1) 65%, rgba(255, 186, 0, 1) 100%);
    transition: 0.6s ease-out;
}

.card:hover .filledbar {
    width: 80%;
    transition: 0.4s ease-out;
}

.circle {
    position: absolute;
    top: 60px;
    left: 20px;
    width: 80%;
    text-align: justify;
    font-family: 'Unica One', cursive;
}

.chef-m{
    width: 80%;
    border-radius: 25px;
    padding: 0   200px;
    background-color: #eee;
    text-align: justify;
}

.chef-m h1{
    color: #000;    
}

.chef-m p{
    color: #444 !important;
    font-size: 2rem !important;
    line-height: 2rem !important;
    font-family: 'Qwigley', cursive !important;
}
