@font-face {
    font-family: League-Gothic;
    src: url('/assets/fonts/LeagueGothic-Regular.ttf');
}

@font-face {
    font-family: Paragon-Regular;
    src: url('/assets/fonts/Paragon-Regular.otf');
}

@font-face {
    font-family: Alameda-Script;
    src: url('/assets/fonts/AlamedaScriptPersonalUseRegular-RpPdv.otf');
}

@font-face {
    font-family: Justink;
    src: url('/assets/fonts/justink-0wql4.ttf');
}

@font-face {
    font-family: Xillian;
    src: url('/assets/fonts/xillian-regular.otf');
}

#section1 {
    padding-top: 50px;
    height: 100vh;
    color: #fff;
    background: url("/assets/img/homeBg1.jpg") bottom center;
    background-size: cover;
}

#section2 {
    padding-top: 50px;
}

#section2 .py-1 {
    font-family: Justink !important;
}

#section3 {
    padding-top: 30px;
    height: 600px;
    color: #fff;
    background-color: #ffbe5d;
}

#about p,
#section42 p {
    margin: auto;
    width: 90%;
    font-size: 20px;
    font-weight: lighter;
    font-family: monospace;
}

h1 {
    font-size: 2.5rem;
    font-family: League-Gothic;
}

.subtitle {
    font-weight: lighter;
    line-height: 2rem;
    font-family: Xillian;

}
.subtitle span{
    display: block;
}

.card-text{
    line-height: 1.5rem;
    font-family: Paragon-Regula !important;
}

.card {
    border-radius: 27px !important;
}

.card-img {
    border-radius: inherit;
    height: 350px;
}

#section41 {
    padding-bottom: 50px;
    padding-top: 50px;
    height: 100%;
    color: #fff;
}

.blue {
    background-color: #00bcd4;
}

#section42 {
    padding-top: 20px;
    padding-bottom: 50px;
    border-radius: 30px;
    height: 100%;
    color: #fff;
}

.green {
    background-color: #009688;
}

.d {
    height: 400px;
    width: 270px;
    border-radius: 25px;
    background: center;
    background-size: cover;
}

.container {
    height: 350px;
    width: 1200px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
}

.card {
    display: flex;
    height: 350px;
    width: 400px;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #999;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover~.card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.title {
    color: #000;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}

.title h3 {
    font-family: 'Lobster Two', cursive;
}

.bar {
    position: absolute;
    top: 50px;
    left: 20px;
    height: 5px;
    width: 80%;
}

.emptybar {
    background-color: #666;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0, 154, 217);
    background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgba(217, 147, 0, 1) 65%, rgba(255, 186, 0, 1) 100%);
    transition: 0.6s ease-out;
}

.card:hover .filledbar {
    width: 80%;
    transition: 0.4s ease-out;
}

.circle {
    position: absolute;
    top: 60px;
    left: 20px;
    width: 80%;
    text-align: justify;
    font-size: 0.8rem;
    font-family: Paragon-Regular;
}

.chef-m {
    width: 80%;
    border-radius: 25px;
    margin: auto !important;
    padding: 30px 200px;
    background-color: #eee;
    text-align: justify;
}

.chef-m h1 {
    color: #000;
}

.chef-m p {
    color: #444 !important;
    font-size: 2rem !important;
    line-height: 2rem !important;
    font-family: 'Qwigley', cursive !important;
}

.img img {
    width: 400px;
    height: 400px;
}

.flex {
    display: flex;
}

.msg{
    margin-top: 80px;
}

@media only screen and (max-width: 600px) {
    #section1 {
        padding-top: 50px;
        height: 500px;
        color: #fff;
        background: url("src/assets/img/homeBg1.jpg") bottom center;
        background-size: cover;
    }

    .container {
        padding-top: 50px;
        height: 450px;
    }

    .carousel,
    .dish {
        background: transparent !important;
        overflow-x: scroll;
    }

    .carousel::-webkit-scrollbar,
    .dish::-webkit-scrollbar {
        width: 0px;
    }

    .chef-m {
        margin: 0;
        padding: 0;
    }

    .chef-m h1 {
        color: #eee;
    }
    .chef-m p {
        color: #333 !important;
    }

    .img img {
        width: 300px;
        height: 300px;
    }

    .flex {
        display: initial;
    }

    #about p,
    #section42 p {
        margin: auto;
        width: 90%;
        font-size: 20px;
        text-align: justify;
        font-weight: lighter;
        font-family: monospace;
    }

    .subtitle span{
        display: initial;
    }
}