#section1 {
    padding-top: 50px;
    height: 605px;
    color: #fff;
    background: url("src/assets/img/homeBg1.jpg") bottom center;
    background-size: contain;
}

#section2 {
    padding-top: 50px;
    /*height: 50vh;
    color: #fff;
    background-color: #683ab7; */
}

#section3 {
    padding-top: 50px;
    height: 600px;
    color: #fff;
    background-color: #ff9800;
}

.card{
    border-radius: 27px !important;
}
.card-img{
    border-radius: inherit;
    height: 400px;
}

#section41 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #00bcd4;
}

#section42 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #009688;
}