<div id="section1" class="container-fluid">

</div>
<div id="section2" class="container-fluid text-center">
  <div id="about">
    <h1 class="display-5">Welcome</h1>
    <p class="card-text placeholder-glow">
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-6"></span>
      <span class="placeholder col-8"></span>
    </p>
  </div>
  <div id="review" class="pt-5">
    <h1 class="display-5">Review</h1>
    <div id="reviewCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <figure class="text-center">
            <blockquote class="blockquote placeholder-glow">
              <span class="placeholder col-7"></span>
            </blockquote>
            <figcaption class="blockquote-footer">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </figcaption>
          </figure>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <figure class="text-center">
            <blockquote class="blockquote placeholder-glow">
              <span class="placeholder col-7"></span>
            </blockquote>
            <figcaption class="blockquote-footer">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </figcaption>
          </figure>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <figure class="text-center">
            <blockquote class="blockquote placeholder-glow">
              <span class="placeholder col-7"></span>
            </blockquote>
            <figcaption class="blockquote-footer">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </figcaption>
          </figure>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#reviewCarousel" data-bs-slide="prev">
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#reviewCarousel" data-bs-slide="next">
      </button>
    </div>

  </div>
</div>
<div id="section3" class="container-fluid text-center">
  <h1 class="display-3">Speciality</h1>
  <div class="d-flex flex-row justify-content-between container-fluid">
    <img class="d" *ngFor="let img of cards" src={{img}} alt="" srcset="">
  </div>
</div>
<div id="section41" class="container-fluid text-center">
  <div id="about">
    <h1 class="display-5">Heading</h1>
    <p class="card-text placeholder-glow">
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-6"></span>
      <span class="placeholder col-8"></span>
    </p>
  </div>
</div>
<div id="section42" class="container-fluid text-center">
  <div id="about">
    <p class="card-text placeholder-glow">
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-6"></span>
      <span class="placeholder col-8"></span>
    </p>
  </div>
</div>
