<div class="container-contact">
    <div class="wrap-contact">
            <h1 class="text-center">Contact Us</h1>
            <div class="d-flex content-contact">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1432.1375105867326!2d78.01106080535796!3d30.316385044808268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39092a23ab8f5071%3A0x736a88d62d35c00e!2sAura%20Kitchen%20And%20Spirits!5e0!3m2!1sen!2sin!4v1650974147986!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <address class="p-5">
                    <h2 class="my-0">Address</h2>
                    <p class="my-0">1064/2, General Mahadev Singh Rd, Vyomprasth, Kanwali, Dehradun, Uttarakhand 248146</p>
                </address>
                <address class="p-5">
                    <h2 class="my-0">Phone Number:</h2>
                    <p class="my-0"></p>
                </address>
                
            </div>
    </div>
</div>