@font-face {
  font-family: Montserrat-Regular;
  src: url('/assets/fonts/montserrat/Montserrat-Regular.ttf');
}


iframe {
  border: 1px #999 solid !important;
  border-radius: 25px;
}

h1{
  font-size: 2rem;
  font-family: 'Goldman', cursive;
}

address{
  width: 50%;
}

address h2{
  font-family: 'Goldman', cursive;
}

address p{
  font-family: Ceremonial-Instrument, monospace;
}

.container-contact {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 150, 136, 1) 100%);

}

.wrap-contact {
  width: 1200px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px 55px 55px 55px;
}
