<div class="container-contact">
    <div class="wrap-contact">
        <h1 class="text-center">Contact Us</h1>
        <div class="flex-row content-contact">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1432.1375105867326!2d78.01106080535796!3d30.316385044808268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39092a23ab8f5071%3A0x736a88d62d35c00e!2sAura%20Kitchen%20And%20Spirits!5e0!3m2!1sen!2sin!4v1650974147986!5m2!1sen!2sin"
                width="600" height="550" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="contact-description p-5">
                <address>
                    <h2 class="my-0">Address</h2>
                    <p class="my-0">1064/2, General Mahadev Singh Rd, Vyomprasth, Kanwali, Dehradun, Uttarakhand 248146
                    </p>
                </address>
                <address class="d-flex">
                    <h2 class="my-0">Phone Number:</h2>
                    <div class="numbers">
                        <p class="contact-info my-0 ps-2">+91 79002 32777</p>
                        <p class="contact-info my-0 ps-2">+91 79830 72067</p>
                        <p class="contact-info my-0 ps-2">+91 75006 49777</p>
                    </div>
                </address>
                <address class="d-flex">
                    <h2 class="my-0">E-Mail:</h2>
                    <p class="contact-info my-0 ps-2">auraks2017@gmail.com</p>
                </address>
                <div class="contact-us">
                    <div class="demo-buttons-group">
                        <div class="icon-container">
                            <a href="https://wa.me/7900232777" target="_blank"><button class="icon icon-fill"><i class="fab fa-whatsapp"></i></button></a>
                            <a href="https://www.facebook.com/AuraKSDoon" target="_blank"><button class="icon icon-enter"><i class="fab fa-facebook-f"></i></button></a>
                            <a href="https://www.instagram.com/aurakitchenandspirits_dehradun/" target="_blank"><button class="icon icon-expand"><i class="fab fa-instagram"></i></button></a>
                            <a href="mailto:auraks2017@gmail.com"><button class="icon icon-collapse"><i class="fas fa-envelope"></i></button></a>
                            <a href="tel:+917900232777" ><button class="icon icon-rotate"><i class="fas fa-phone-alt"></i></button></a>
                        </div>
                    </div>
                    <div class="demo-buttons-group">
                        <button class="button-concept">
                            <a href="https://www.zomato.com/dehradun/aura-kitchen-and-spirits-kaonli" target="_blank" class="button" role="button">
                                <span>Zomato</span>
                                <div class="icon">
                                    <i class="fas fa-utensils pt-2"></i>
                                </div>
                            </a>
                        </button>
                    </div>
                    <div class="demo-buttons-group">
                        <button class="button-concept">
                            <a href="https://www.swiggy.com/restaurants/aura-kitchen-and-spirits-ballupur-patel-nagar-dehradun-107097" style="background-color: #FC8019;" target="_blank" class="button" role="button">
                                <span>Swiggy</span>
                                <div class="icon">
                                    <i class="fas fa-map-marker mt-2"></i>
                                </div>
                            </a>
                        </button>
                    </div>
                    <div class="demo-buttons-group">
                        <button class="button-concept">
                            <a href="https://www.tripadvisor.in/Restaurant_Review-g297687-d19701678-Reviews-Aura_Kitchen_And_Spirits-Dehradun_Dehradun_District_Uttarakhand.html" style="background-color: #00af87;" target="_blank" class="button" role="button">
                                <span>Trip Advisor</span>
                                <div class="icon">
                                    <i class="fa fa-suitcase-rolling"></i>
                                </div>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
